@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

html, body { height: 100%; }
body {
  margin: 0;
  font-family: Roboto, sans-serif;
  min-height: 100vh;
  min-width: 540px;
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

* { 
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.mat-select-panel-wrap{
  position: relative;
  top: 35px;
  left: -19px;
  width: 213px;
}

.mat-select-panel-wrap .mat-select-panel{
  min-width: calc(100% + 12px) !important;
}

.mat-form-field-flex {
  padding-top: 0 !important;
}

.mat-form-field-infix {
  top: -5px;
  padding-top: 5px;
  padding-bottom: 0;
}

.mat-form-field-appearance-fill .mat-select-arrow-wrapper {
  transform: none !important;
}

.mat-form-field-underline {
  bottom: 0 !important;
}

.mat-form-field-wrapper {
  padding-bottom: 0 !important;
}

.mat-form-field {
  width: 100%;
}

.custom-tooltip {
  background: #616161E5;
  margin: 0!important;
  font-weight: 400 !important;
  font-size: 14px !important;
  line-height: 20px !important;
  font-family: Roboto, "Helvetica Neue", sans-serif !important;
  border-radius: 2px !important;
}

.mat-tooltip-panel {
  padding-bottom: 3px !important;
  width: 25.9vw;
}
